/* Global Styles */
body {
    background-color: #c5c3c6;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #dcdcdd;
    color: black;
    font-family: Georgia, serif;
}

/* Header h1 Styles */
header h1 {
    line-height: 140%;
    padding: 0.5rem;
}

/* Navigation Styles */
nav {
    font-weight: bold;
    background-color: #F3F3F3;
}

/* h2 Styles */
h2 {
    color: #424242;
    font-family: Georgia, serif;
}

/* Definition Term (dt) Styles */
dt {
    color: #003058;
    font-weight: bold;
}

/* .ut Class Styles */
.ut {
    color: #BA1C21;
    font-weight: bold;
}

/* Footer Styles */
footer {
    font-size: 0.70rem;
    font-style: italic;
    text-align: center;
}

/* Wrapper Styles */
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}